@using AnimalesFormNetMVC.Models

@{
    ViewBag.Title = "index";

}
@Model List<Animal>
    <main>
        <h2>Animales</h2>
        <table>
            <tr>
                <th>IdNumero</th>
                <th>Nombre</th>
            </tr>

            @foreach (Animal animal in Model)
            {
                <tr>
                    <td>Id: @animal.IdAnimal</td>
                    <td>Nombre: @animal.nombre</td>
                </tr>
            }
        </table>
        <h3>@ViewBag.Message</h3>
    </main>
